<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>AQI</title>
  
<link rel="stylesheet" href="C:/Users/Dell/ineuron/intern/air_quality/air_quality_prediction_project/styles.css">  
</head>
<style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: red;
  font-family: courier;
  font-size: 160%;
}
p {
  border: 2px solid powderblue;
}
</style>
<body>
 <div class="login">
	<h1>AIR QUALITY INDEX</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name="Average Temperature (°C)" placeholder="Average Temperature (°C)" required="required" />
        <input type="number" name="Maximum temperature (°C)" placeholder="Maximum temperature (°C)" required="required" />
		<input type="number" name="Minimum temperature (°C)" placeholder="Minimum temperature (°C)" required="required" />
		<input type="number" name="Atmospheric pressure at sea level (hPa)" placeholder="Atmospheric pressure at sea level (hPa)" required="required" />
		<input type="number" name="Average relative humidity (%)" placeholder="Average relative humidity (%)" required="required" />
		
		<input type="number" name="Average visibility (Km)" placeholder="Average visibility (Km)" required="required" />
		<input type="number" name="Average wind speed (Km/h)" placeholder="Average wind speed (Km/h)" required="required" />
        <input type="number" name="Maximum sustained wind speed (Km/h)" placeholder="Maximum sustained wind speed (Km/h)" required="required" />
        <button type="number" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>